---
import Layout from "../../layouts/Layout.astro";
export const getStaticPaths = async () => {
  const response = await fetch("http://localhost:8080/contacts");
  const data = await response.json();
  return data.content.map(({id}) => {
    const slug = id;
    return {
      params: {slug},
    };
  });
};

const {slug} = Astro.params;
const response = await fetch("http://localhost:8080/contacts/" + slug);
const contact = await response.json();
---

<Layout>
  <a
    href="/"
    class="text-white bg-blue-800 hover:bg-blue-600 text-sm py-2 px-4 whitespace-normal border-rad rounded shadow-md transition ease-out"
    ><i class="bi bi-backspace"></i> Go back</a
  >

  <div class="grid grid-cols-3 items-start gap-4 mt-8">
    <div
      class="flex flex-row justify-start items-center flex-wrap gap-4 bg-[#ecf1f1] p-3 rounded-md"
    >
      <img
        class="w-[120px] focus:border-[#b9b7ba] rounded-md border-sky-800 border-4 aspect-square object-cover object-center"
        src={contact.photoUrl}
        alt={`Profile photo of ${contact.name}`}
      />
      <div class="sm:text-center">
        <p class="sm:self-center text-[#3c3f3f] text-base font-bold mb-1">
          {contact.name}
        </p>
        <p
          class="sm:w-full sm:self-center sm:justify-center text-sm text-[#75777a] mb-4"
        >
          JPG, GIF, or PNG. Max size of 10MG
        </p>
        <button
          class="text-white bg-blue-800 hover:bg-blue-600 text-sm py-2 px-4 whitespace-normal border-rad rounded shadow-md transition ease-out"
          ><i class="bi bi-cloud-upload"></i> Change Photo</button
        >
      </div>
    </div>
    <div class="bg-[#ecf1f1] p-3 rounded-md">
      <div>
        <form class="form">
          <div class="flex flex-wrap justify-between my-4 mx-0">
            <input
              class="h-[45px] focus:border-[#b9b7ba] w-full outline-none text-base rounded-sm pl-4 border-2 border-[#e6e1e1] transition ease-in"
              type="hidden"
              value={contact.id}
              name="id"
              required
            />
            <div class="mb-4 w-full">
              <span class="details">Name</span>
              <input
                class="h-[45px] focus:border-[#b9b7ba] w-full outline-none text-base rounded-sm pl-4 border-2 border-[#e6e1e1] transition ease-in"
                type="text"
                value={contact.name}
                name="name"
                required
              />
            </div>
            <div class="mb-4 w-full">
              <span class="details">Email</span>
              <input
                class="h-[45px] focus:border-[#b9b7ba] w-full outline-none text-base rounded-sm pl-4 border-2 border-[#e6e1e1] transition ease-in"
                type="text"
                value={contact.email}
                name="email"
                required
              />
            </div>
            <div class="mb-4 w-full">
              <span class="details">Phone</span>
              <input
                class="h-[45px] focus:border-[#b9b7ba] w-full outline-none text-base rounded-sm pl-4 border-2 border-[#e6e1e1] transition ease-in"
                type="text"
                value={contact.phone}
                name="phone"
                required
              />
            </div>
            <div class="mb-4 w-full">
              <span class="details">Address</span>
              <input
                class="h-[45px] focus:border-[#b9b7ba] w-full outline-none text-base rounded-sm pl-4 border-2 border-[#e6e1e1] transition ease-in"
                type="text"
                value={contact.address}
                name="address"
                required
              />
            </div>
            <div class="mb-4 w-full">
              <span class="details">Title</span>
              <input
                class="h-[45px] focus:border-[#b9b7ba] w-full outline-none text-base rounded-sm pl-4 border-2 border-[#e6e1e1] transition ease-in"
                type="text"
                value={contact.title}
                name="title"
                required
              />
            </div>
            <div class="mb-4 w-full">
              <span class="details">Status</span>
              <input
                class="h-[45px] focus:border-[#b9b7ba] w-full outline-none text-base rounded-sm pl-4 border-2 border-[#e6e1e1] transition ease-in"
                type="text"
                value={contact.status}
                name="status"
                required
              />
            </div>
          </div>
          <div class="form_footer">
            <button
              type="submit"
              class="text-white bg-blue-800 hover:bg-blue-600 text-sm py-2 px-4 whitespace-normal border-rad rounded shadow-md transition ease-out"
              >Save</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>

  <form style={{display: "none"}}>
    <input
      class="h-[45px] focus:border-[#b9b7ba] w-full outline-none text-base rounded-sm pl-4 border-2 border-[#e6e1e1] transition ease-in"
      type="file"
      name="file"
      accept="image/*"
    />
  </form>
</Layout>
